@import "tailwindcss";

@theme {
  --font-solway: "Solway", serif;
  --font-solitreo: "Solitreo", cursive;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Solway", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hazard-stripes-bg {
  background: repeating-linear-gradient(
    -45deg,
    #fbda6c,
    #fbda6c 43px,
    #2e2e2e 43px,
    #2e2e2e 83px
  );
}
